/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{

  position: absolute;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
  background-color: #4b4b4d;
}
body::-webkit-scrollbar {
  width: 0.05rem;
}

body::-webkit-scrollbar-track {
  background: #11101d;
  opacity: 0;
  
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
main{
  margin:6rem;
  padding: 10px;
  
}

::selection{
  color: #fff;
  background: #11101d;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background: #11101d;
  padding: 15px 14px;
  z-index: 99;
  transition: all 0.8s ease;
}
.sidebar.active{
  width: 240px
}
.sidebar .logo_content .logo{
  color: hsl(53deg 100% 51%);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.sidebar .logo_content .logo:before{
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(53deg 100% 51%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.sidebar .logo_content .logo:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(53deg 100% 51%);
  opacity: 0;
  background-color: hsl(53deg 100% 51%);
  z-index: -1;
  transition: opacity 100ms linear;
}
.sidebar .logo_content .logo:hover,
.sidebar .logo_content .logo:focus {
  color: hsl(323 21% 16%);
  text-shadow: none;
}

.sidebar .logo_content .logo:hover::before,
.sidebar .logo_content .logo:focus::before {
  opacity: 1;
}
.sidebar .logo_content .logo:hover::after,
.sidebar .logo_content .logo:focus::after {
  opacity: 1;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  
}


.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 133px;
  bottom: -11px;
  transform: translate(-50% , -50%);
  border-radius: 10px;
  height: 35px;
  width: 120px;
  background: rgb(8, 215, 252);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
  color #fff;
      box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}
.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #1d1b31;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .nav_link{
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .nav_link{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}
.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
  background: #1d1b31;
}
.profile_content .profile .profile_details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar.active ~ .profile .profile_details{
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job{
  margin-left: 10px;
}
.profile .profile_details .name{
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job{
  font-size: 12px;
}
.profile #log_out{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #1d1b31;
}
.sidebar.active .profile #log_out{
  left: 88%;
}
.sidebar.active .profile #log_out{
  background: none
}
.home_content{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: #E4E9F7;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home_content{
  z-index: 100;
}
.home_content .text{
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}
.sidebar.active ~ .home_content{
  width: calc(100% - 240px);
  left: 240px;
}
/* Small screens */
@media only screen and (max-width: 767px){
  
  main{
    margin: 0;
  }
  .sidebar .nav_menu .nav_list .nav_item span{
    display: none;
  }
  .sidebar .nav_menu .nav_list .nav_item i{
    display: inline;
  }

  .sidebar ul li .tooltip{
    display: none;
  }
  .sidebar .profile_content{
    display: none;
  }
  .sidebar .ph{
    display: none;
  }

  .sidebar .logo_content .logo:hover{
    display: none;
  }
  .sidebar .logo_content .logo{
    display: none;
  }
  .sidebar ul li a:hover{
    display: none;
  }
.sidebar{
  width:100%;
  height:80px;
 top: 0px;
}



  












}

